@import "../../../../sass/index.scss";

.visible-map {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: 20px;   
    .visible-map-button {
        border-radius: 5px;
        color: $color-primary;
        border-color: $color-primary;
        font-weight: bold;
        margin-bottom: 2rem;
        &:hover {
            background-image: linear-gradient(to right, #0093e9, #194b91);
            border-color: linear-gradient(to right, #0093e9, #194b91);
            color: white;
        }
    }
    .map-button-small-view {
        border-radius: 5px;
        position: fixed;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
}

@media (max-width: 1199px) {
    .map-button-small-view {
        display: block !important;
    }
    .visible-map {
        display: none !important;
    }
}
